a:link {
    text-decoration:none;
    color: #003349;
}

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #f2f5f6;
}

.container {
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
}

h6 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    color: #002e00;
}

.img-position{
    display:block;
    max-width:100%;
    height:auto;
}

.header {
    height: 48px;
    background: #ffffff;
    margin-left: 0;
    margin-right: 0;
    border: none;
}

.header-logo{
    float:left;
    padding:10px;
    line-height: 25px;
    height: 40px;
    border: none;
}

.header .header-text {
    border-left: 1px solid;
    border-left-color: #335c6d;
    color: #335c6d;
    font-size: 20px;
    font-weight: 400;
    height: 30px;
    line-height: 25px;
    margin-left: 15px;
    padding: 2px 15px;
    white-space: nowrap;
}

input[type="text"],
input[type="password"] {
    display: inline-block;
    width: 100%;
    height: 50px;
    padding: 15px;
    font-size: 12px;
    margin: 5px 0 22px 0;
    border:none;
}

input[type="text"]:focus,
input[type="password"]:focus {
    background-color: #dddddd;
    outline: none;
}

.greenbtn {
    cursor: pointer;
    margin-top: 15px !important;
    padding: 15px;
    display: block;
    width: 100%;
    color: #ffffff;
    background-color: #009900;
    border: none;
    white-space: normal !important;
    word-wrap: break-word;
    word-break: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
}

    .greenbtn:hover {
        background-color: #008600;
    }

.label{
    border: 1px solid;
}

.linkcontainer {
    padding-left: 100px;
    padding-right: 100px;
}

.linklist {
    position: relative;
    min-height: 1px;
    padding: 15px;
    font-size: 15px;
}

.navbar{
    overflow:hidden;
    background-color:#ffffff;
}

.whitebtn {
    cursor: pointer;
    margin-top: 15px !important;
    padding: 15px;
    display: block;
    width: 100%;
    color: #009900;
    background-color: transparent;
    white-space: normal !important;
    word-wrap: break-word;
    word-break: normal;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 8px;
    border-color: #009900
}

.whitebtn:hover {
    background-color: #009900;
    color: #ffffff;
}